attrs==25.3.0
boto3==1.40.3
botocore==1.40.3
certifi==2025.8.3
furl==2.1.4
jmespath==1.0.1
more-itertools==10.7.0
orderedmultidict==1.0.1
python-dateutil==2.9.0.post0
s3transfer==0.13.1
six==1.17.0
typing_extensions==4.14.1
urllib3==2.7.0
